@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-overscroll-behavior: none;
  -moz-overscroll-behavior: none;
  overscroll-behavior: none;
}

.btn-primary {
  @apply bg-teal-500 text-white px-4 py-2 rounded-lg;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}