@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-overscroll-behavior: none;
  -moz-overscroll-behavior: none;
  overscroll-behavior: none;
}

.btn-primary {
  @apply bg-teal-500 text-white px-4 py-2 rounded-lg;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.animate-dropdown {
  animation: growDown 300ms ease-in-out;
  transform-origin: top center;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
